<!-- <div class="container" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap.gt-md="1rem">
  <div class="left" fxFlex="50" fxFlex.lt-md="100">
    <mat-form-field>
      <input matInput placeholder="Enter Prompt here" [(ngModel)]="inputText">
    </mat-form-field>
    <ng-container *ngIf="!isLoading; else generating">
      <button mat-raised-button color="primary" (click)="generateImage()">
        <span>Let's Go</span>
      </button>
    </ng-container>
    <ng-template #generating>
      <button mat-raised-button disabled>Please Wait...
        <mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></button>
    </ng-template>
  </div>
    <div class="image-contianer">

      <div class="right" fxFlex="50" fxFlex.lt-md="100" *ngIf="images.length > 0">
        <mat-card *ngFor="let image of images">
          <img [src]="image.imageSrc" alt="Image Preview">
          <div class="image-actions">
            <button mat-raised-button color="primary" (click)="downloadImage()">Download</button>
            <ng-container *ngIf="!isUpscaling; else upscaling">
              <button mat-raised-button color="accent" (click)="upscale()" class="enhance-button">Upscale</button>
            </ng-container>
            <ng-template #upscaling>
              <button mat-raised-button disabled>Please Wait...
                <mat-icon><mat-spinner color="warn" diameter="20">
                  </mat-spinner></mat-icon></button>
            </ng-template>

          </div>
        </mat-card>
      </div>
    </div>
</div> -->


<!-- 


<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="card">
        <img src="https://via.placeholder.com/300x200" alt="Image Preview" />
        <div class="actions">
          <button mat-icon-button>
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card">
        <img src="https://via.placeholder.com/300x200" alt="Image Preview" />
        <div class="actions">
          <button mat-icon-button>
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card">
        <img src="https://via.placeholder.com/300x200" alt="Image Preview" />
        <div class="actions">
          <button mat-icon-button>
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card">
        <img src="https://via.placeholder.com/300x200" alt="Image Preview" />
        <div class="actions">
          <button mat-icon-button>
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Enter Prompt here" [(ngModel)]="inputText" />
      </mat-form-field>
      <ng-container *ngIf="!isLoading; else generating">
        <button mat-raised-button color="primary" (click)="generateImage()">Let's Go</button>
      </ng-container>
      <ng-template #generating>
        <button mat-raised-button disabled>Please Wait...
          <mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div> -->

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <mat-grid-list cols="2" rowHeight="250px" gutterSize="16px">
    <mat-grid-tile *ngFor="let image of images">
      <div class="image-container">
        <img [src]="image.imageSrc" alt="Image Preview">
        <div class="image-actions">
          <a [href]="image.imageSrc" download>
            <mat-icon>get_app</mat-icon>
          </a>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Enter Prompt here" [(ngModel)]="inputText">
    </mat-form-field>
    <ng-container *ngIf="!isLoading; else generating">
      <button mat-raised-button color="primary" (click)="generateImage()">
        <span>Let's Go</span>
      </button>
    </ng-container>
    <ng-template #generating>
      <button mat-raised-button disabled>Please Wait...
        <mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></button>
    </ng-template>
  </div>
</div>



